* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100%;
}

body,
#display,
.row {
    display: flex;
    align-items: center;
}

body {
    justify-content: center;
    height: inherit;
}

.container {
    padding: 25px;
    border-radius: 50px;
    background-color: rgb(23,20,10)
}

#display {
    justify-content: flex-end;
    padding-right: 15px;
    color: rgb(237,226,180);
    background-color: rgb(50, 42, 24);
    height: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.row {
    justify-content: space-evenly;
}

.row button {
    width: 75px;
    height: 75px;
    margin: 3px;
    border-radius: 50px;
    font-size: 25px;
    border: none;
    font-weight: bold;
    transition: 0.2s ease; 
}

.clear {
    background-color: rgb(48, 76, 52);
    color: rgb(205, 233, 207);
}

.number,
.decimal,
.backspace {
    background-color: rgb(33, 31, 14);
    color: rgb(205, 195, 183);
}

.operator {
    background-color: rgb(83, 68, 46);
    color: rgb(238, 231, 189);
}

.equal {
    background-color: rgb(87, 66, 1);
    color: rgb(252, 225, 140);
}

/* Animations */
.number:hover,
.decimal:hover,
.backspace:hover,
.operator:hover,
.clear:hover,
.equal:hover {
    border-radius: 20px;
}

.number:active,
.decimal:active,
.backspace:active {
    background-color: rgb(68, 64, 29);
}

.clear:active {
    background-color: rgb(67, 106, 73);
}

.operator:active {
    background-color: rgb(107, 88, 60);
}

.equal:active {
    background-color: rgb(101, 76, 0);
}